/* NAVBAR STYLING */
.navbar{
    background-image: linear-gradient(rgb(148, 148, 148),rgb(206, 205, 205),rgb(148, 148, 148));
    height: 60px;
    padding-left: 0px;
}

.navbar-brand {
    background-image: linear-gradient(rgb(41, 121, 153),rgb(57, 172, 218),rgb(41, 121, 153));
    height: 60px;
    padding: 15px 30px 10px 20px;
    margin-left: 0px;
}

.n-questions-list {
    position: absolute;
}



/* PAGE STYLING */
body {
    background-color: rgb(99, 132, 136);
}

.container {
    padding: 40px 15px 20px 15px;
}



/* QUESTION OPTIONS STYLING */
.q-options-correct{
    color: green;
}

.q-options-incorrect{
    color: red;
}

.q-answer-icon{
    margin-left: 0.5rem;
}



/* QUESTION CARD STYLING */
.card{
    background-color: rgb(182, 182, 182);
    background-image: linear-gradient(to bottom,rgb(202, 201, 201),rgb(160, 159, 159));
    margin-top: 2rem;
    min-height: 200px;
    width: 900px;
}

.card-title{
    background-image: linear-gradient(rgb(41, 121, 153),rgb(58, 165, 207),rgb(41, 121, 153));
    padding: 0.75rem 0 0.75rem 1.5rem;
    font-weight: bold;
}

.card ol {
    padding: 0.5rem 0rem 2rem 0.2rem;
    margin: 0 0 0 2rem;
}

.card li{
    font-weight: bold;
    font-size: large;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.15rem 0 0.15rem 0.15rem;
}


